@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat');

$font-main: 'Montserrat', sans-serif;
$font-accent: 'Merriweather', serif;
$bg-color: #fafbff;
$clear: #fff;
$gutter: 7px;
