@import 'scss/utils';
@import 'scss/reset';
@import 'scss/variables';
@import 'scss/side-menu';

body {
  background-color: $bg-color;
  font-family: $font-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-accent;
}

#__next {
  display: flex;
}
